<ion-header>
  <ion-navbar>
    <ion-title>
      RepsCounter
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <login *ngIf="!currentUserId" (userLogged)="userLogged($event)" [storage]="storage"></login>
  <div *ngIf="currentUserId" style="padding: 7px;">
    <globalscore (userLoggedOut)="userLoggedOut($event)" *ngIf="currentUserId" [userid]="currentUserId"></globalscore>
    <score *ngIf="currentUserId" [userid]="currentUserId"></score>
    <score *ngFor="let userId of friends" [userid]="userId"></score>
  </div>
</ion-content>